<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/resources/back/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body style="background:url(/resources/back/images/topbg.gif) repeat-x;">
    <div class="topleft">
        <a href="/backstage/backstageIdex" target="_parent"><img src="/resources/back/images/loginlogo.png" title="$!appConstantsUtil.getProductName()系统首页" /></a>
    </div>

    <div class="topright">
        <ul>
            <li><span><img src="/resources/back/images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="/admincenter/login" target="_parent">退出</a></li>
        </ul>

        <div class="user">
            <span>$!{userName}</span>
        </div>

    </div>
</div>
</body>
</html>


