#parse("/front/index/common/reg-header.vm")
<!--注册页面开始-->
<div class="reg_tit nav large_font">开通第三方支付账户</div>
<div class="load nav" style="width:900px">
	<ul class="four_load">
    	<li class="last start"><div class="num_last"><span class="green_t">1</span></div>填写基本信息并验证手机</li>
        ##<li class="load_link"><img src="/resources/images/new/load4.png"></li>
        ##<li class="last"><div class="num_innext"><span class="green_t">2</span></div>用户激活</li>
        <li class="load_link"><img src="/resources/images/new/load3.png"></li>
        <li class="in"><div class="num_innext"><span class="green_o">2</span></div>开通第三方支付账户</li>
        <li class="load_link"><img src="/resources/images/new/load1.png"></li>
        <li class="next end"><div class="num_innext"><span class="gray_t">3</span></div>注册完成</li>
    </ul>
</div>
<div class="blank"></div>
<div class="reg_form nav">

    <form id="registForm" action="/anon/regYJFAccount" method="post">
        <input type="hidden" id="userName" name="userName" value="${userName}"/>
        <ul>
            <li class="reg_name">真实姓名： </li>
            <li class="reg_input">
                <input type="text" id="realName" class="reg_input" maxlength="12" name="realName" />
            </li>
            <li class="reg_text"></li>
        </ul>
        <ul>
            <li class="reg_name">身份证号： </li>
            <li class="reg_input"><input type="text" id="certNo" class="reg_input" maxlength="18" name="certNo" /></li>
            <li class="reg_text" name="msg"></li>
        </ul>
        <ul>
            <li class="reg_name">有效期： </li>
            <li class="reg_input"><input type="text" id="businessPeriod" class="reg_input" maxlength="12" name="businessPeriod" /></li>
            <li class="reg_text"></li>
        </ul>
        <ul>
            <li class="reg_name"></li>
            <li class="reg_input"><a class="reg_bt"><div class="mid_font tran_but_suc reg_blue" id="confirm">开通第三方支付账户</div></a></li>
            <li class="reg_text"></li>
        </ul>
    </form>
</div>
<div class=" form_blank"></div>
</div>
<!--注册页面结束-->
#parse("/front/index/common/footer.vm")
<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/resources/js/datepicker/WdatePicker.js"></script>
<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
<script type="text/javascript">
    seajs.use($_GLOBAL.mode + 'regYJFAccount');
</script>
</html>
