#parse("/front/index/common/reg-header.vm")
    <!--注册页面开始-->
    <div class="reg_tit nav large_font">开通第三方支付账户失败！</div>
    <div class="load nav" style="width:900px">
        <ul class="four_load">
            <li class="last start"><div class="num_last"><span class="green_t">1</span></div>填写基本信息并验证手机</li>
            <li class="load_link"><img src="/resources/images/new/load4.png"></li>
##            <li class="last"><div class="num_last"><span class="green_t">2</span></div>验证邮箱</li>
##            <li class="load_link"><img src="/resources/images/new/load4.png"></li>
            <li class="last"><div class="num_last"><span class="green_t">2</span></div>开通第三方支付账户</li>
            <li class="load_link"><img src="/resources/images/new/load3.png"></li>
            <li class="in end"><div class="num_innext"><span class="green_o">3</span></div>注册完成</li>
        </ul>
    </div>
    <div class="blank"></div>
    <div class="reg_form nav">
        <ul class="prompt">
            <li class="reg_name"> </li>
            <li class="reg_input"></li>
            <li class="reg_text"></li>
        </ul>
        <ul>
            <li class="reg_input full_text"><span class="blue">开通第三方支付账户失败：$!{errorMsg}</span></li>
        </ul>
        <ul class="prompt">
            <li class="reg_name"></li>
            <li class="reg_input"></li>
            <li class="reg_text"></li>
        </ul>
        <ul>
            <li class="reg_name"></li>
            <li class="reg_input"><a class="reg_bt" href="javascript:history.back(-1);"><div class="mid_font tran_but_suc reg_blue">重新开通</div></a></li>
            <li class="reg_text"></li>
        </ul>
    </div>
    <div class=" form_blank"></div>
</div>
<!--注册页面结束-->
#parse("/front/index/common/footer.vm")
</html>
