#parse("/weichat/common/import.vm")
<body>
<div data-role="page" class="content-wrapper">
	<link rel="stylesheet" type="text/css" href="/resources/css/new/jquery.mobile.flatui.css"/>
	<link rel="stylesheet" type="text/css" href="/resources/css/weichat/common.css"/>
	<link rel="stylesheet" type="text/css" href="/resources/css/weichat/first.css"/>
	<div class="header">
		<div style="float:right;position:relative;top:10px;right:5%;">
			<a id='button-special' href="/weichat/login.do" data-role="button" data-inline="true" data-theme="e">登录/注册</a>
		</div>
	</div>
	<!--flash begin-->
    <div id="flashBg">
        <div id="flashLine">
            <div id="flash" style="overflow:visible">
                <a name="url(/resources/images/new/banner.jpg) #8B8B97 center" style="display: block;" id="flash1" href="/weichat/index.do/8/1"><div class="nav banner_one"><img src="/resources/images/new/b1.png" style="height:100px;max-width:780px"></div></a>
                <a name="url(/resources/images/new/banner_2.jpg) #185768 center" id="flash3" href="/weichat/index.do/8/1"><div class="nav banner_one" id="test"><img src="/resources/images/new/b2.png" style="height:100px;max-width:780px"></div></a>
                <a name="url(/resources/images/new/banner_4.png) #8B8B97 center" id="flash2" href="/weichat/index.do/8/1"><div class="nav banner_one"><img src="/resources/images/new/b6.png" style="height:100px;max-width:780px"></div></a>
                <div class="flash_bar">
                    <div class="dq"  id="f1" onClick="changeflash(1)"></div>
                    <div class="no"  id="f2" onClick="changeflash(2)"></div>
                    <div class="no"  id="f3" onClick="changeflash(3)"></div>
                </div>
            </div>
        </div>
    </div>
   	 <!--flash end-->
   	 <div class="productContent">
   	 	<div class="productName">
   	 		$stringUtil.subString($!{trade.name},11,"..")
   	 	</div>
   	 	<div class="bankName">
   	 		到期由<span style="color:#f08519">$!{trade.paymentBankName}</span>无条件兑付
   	 	</div>
   	 	<div id="rate" class="center">
			<div class="leftFloat">$!{trade.strRaate}</div>
			<div class="leftFloat" style="color:#a1a1a1;font-size:12px;margin-left:5px;position:relative;top:45px">年化<br>收益</div>
		</div>
		<div class="days">
			投资周期：$!{loanUtil.getLoanTime($!{trade.time}, $!{trade.timeUnit})}
		</div>
		<div style="margin-top:20px">
			<a href="/weichat/detail.do/$!{trade.demandId}/$!{trade.tradeId}" id="goInvest" data-role="button" data-inline="true" data-theme="d">立即投资</a>
		</div>
   	 </div>
   	 <div class="imageDiv">
   	 	<div class="firstImageDiv firstImageDiv11">
   	 		<p>一元起投</p>
   	 	</div>
   	 	<div class="firstImageDiv firstImageDiv12">
   	 		<p>银行承兑</p>
   	 	</div>
   	 	<div class="firstImageDiv firstImageDiv21">
   	 		<p>银行托管</p>
   	 	</div>
   	 	<div class="firstImageDiv firstImageDiv22">
   	 		<p>保本保息</p>
   	 	</div>
   	 </div>
   	 <script type="text/javascript" src="/resources/js/jquery/imgAuto.js"></script>
	 <script type="text/javascript" src="/resources/js/weichat/first.js"></script>
 #parse("/weichat/common/footer.vm")