#parse("/weichat/common/import.vm")
#parse("/weichat/common/header.vm")
<link rel="stylesheet" type="text/css" href="/resources/css/weichat/login.css"/>
<div class="loginContent">
	<form action="/weichat/doLogin.do" method="post" id="login_Form" data-ajax="false">
		<div class="username">
			<input id="username" name="userName" type="text" placeholder="请输入账号" />
		</div>
		<div class="split">
		</div>
		<div class="password">
			<input id="password" name="password" type="password" placeholder="请输入密码" />
		</div>
		<input type="hidden" name="token" value="$!{token}" />
	</form>
</div>
<div class="buttonDiv">
	<button id="login" data-theme="d">登录</button>
	<a href="/weichat/register.do" data-role="button" data-theme="c">创建789账户</a>
	<div style="text-align:center;color:red">
		$!{message}
	</div>
</div>
<div class="footer">
   	 	<div class="footerDiv">
   	 		<a href="/weichat/first.do" data-ajax="false"><img src="/resources/images/weichat/footer1a.png" /></a>
   	 	</div>
   	 	<div class="footerDiv">
   	 		<a href="/weichat/index.do/8/1" data-ajax="false"><img src="/resources/images/weichat/footer2a.png" /></a>
   	 	</div>
   	 	<div class="footerDiv">
   	 		<a href="#"><img src="/resources/images/weichat/footer3.png" /></a>
   	 	</div>
</div>
</div>
<script type="text/javascript" src="/resources/js/weichat/login.js"></script>
</div>
</body>
</html>