#parse("/front/index/common/header.vm")
#parse("/front/index/common/header-menu.vm")

<body>
<div class="top_blank"></div>
<!--通用头部结束-->
<div class="blank"></div>
<div class="alrod">
<div class="reg_tit nav large_font">修改登录密码</div>
<div class="load form_nav">
	<ul class="three_load">
    	<li class="last start"><div class="num_last"><span class="green_t">1</span></div>验证手机</li>
        <li class="load_link"><img src="/resources/images/new/load3.png"></li>
        <li class="in"><div class="num_innext"><span class="green_o">2</span></div>修改登录密码</li>
        <li class="load_link"><img src="/resources/images/new/load1.png"></li>
        <li class="next end"><div class="num_innext"><span class="gray_t">3</span></div>修改完成</li>
    </ul>
</div>
<form id="doSetNewPasswordForm" action="/anon/doSetNewPassword" class="m-form">
<div class="blank"></div>
<div class="reg_form nav">
    <ul>
    	<li class="reg_name">输入新密码： </li>
        <li class="reg_input" style="width: 500px;"><input name="newLogPassword" type="password" class="reg_input"></li>
    </ul>
    <ul>
    	<li class="reg_name">确认新密码： </li>
        <li class="reg_input" style="width: 500px;"><input name="reNewLogPassword" type="password" class="reg_input reg_ver"></li>
    </ul>
    <ul>
        <li class="reg_name" id="errorText" style="width: 500px;color:#f00;"></li>
        <li class="reg_input"></li>
    </ul>
    <ul>
    	<li class="reg_name"></li>
        <li class="reg_input"><a class="reg_bt"><div id="doSetNewPasswordButton" class="mid_font tran_but_suc reg_blue">确认修改</div></a></li>
        <li class="reg_text"></li>
    </ul>
</div>
<div class=" form_blank"></div>
<input type="hidden" name="userName" value="$!userName" />
<input type="hidden" name="token" value="$!token" />
</form>
<div class="blank"></div>
#parse("/front/index/common/footer.vm")
<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
<script type="text/javascript">
    var $_GLOBAL = {};
	//seajs.use($_GLOBAL.mode + 'changePassword');

    $('#doSetNewPasswordButton').click(function() {
        var pwd = $('input[name=newLogPassword]').val();
        var repwd = $('input[name=reNewLogPassword]').val();
        if(pwd.length == 0 || pwd.length<6){
            $('#errorText').html('* 密码长度至少6位');
            return;
        }
        if(pwd != repwd){
            $('#errorText').html('* 两次输入的密码不一致');
            return;
        }
        $('#doSetNewPasswordForm').submit();
    });
</script>
</body>
</html>
