#parse("/front/index/common/header.vm")
#parse("/front/index/common/header-menu.vm")

<body>
<div class="top_blank"></div>
<!--通用头部结束-->
<div class="blank"></div>
<div class="alrod">
    <div class="reg_tit nav large_font">修改登录密码</div>
<div class="load form_nav">
	<ul class="three_load">
    	<li class="last start"><div class="num_last"><span class="green_t">1</span></div>验证手机</li>
        <li class="load_link"><img src="/resources/images/new/load4.png"></li>
        <li class="last"><div class="num_last"><span class="green_t">2</span></div>修改登录密码</li>
        <li class="load_link"><img src="/resources/images/new/load3.png"></li>
        <li class="in end"><div class="num_innext"><span class="green_o">3</span></div>修改完成</li>
    </ul>
</div>
<div class="blank"></div>
<div class="reg_form nav">
	<ul class="prompt">
    	<li class="reg_name"> </li>
        <li class="reg_input"></li>
        <li class="reg_text"></li>
    </ul>
	<ul>
        <li class="reg_input full_text">登录密码修改成功，您可以继续使用其他功能，如有疑问，请拨打我们的客服热线 <span class="blue">400-023-0733</span></li>
    </ul>
    <ul>
    	<li class="reg_name"></li>
        <li class="reg_input"></li>
        <li class="reg_text"></li>
    </ul>
    <ul>
    	<li class="reg_name"></li>
        <li class="reg_input"><a class="reg_bt" href="/"><div class="mid_font tran_but_suc reg_blue">返回个人管理中心</div></a></li>
        <li class="reg_text"></li>
    </ul>
</div>
<div class=" form_blank"></div>
</div>
<div class="blank"></div>
#parse("/front/index/common/footer.vm")
<script type="text/javascript">
    	var $_GLOBAL = {};
</script>
<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
<script type="text/javascript">
	seajs.use($_GLOBAL.mode + 'changePassword');
	
</script>
</body>
</html>
