<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>权限管理-用户高级管理</title>
	<link type="text/css" href="/resources/css/after.css" rel="stylesheet" />
    <link href="/resources/back/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
				<div class="mc">
                    <div class="place">
                        <span>位置：</span>
                        <ul class="placeul">
                            <li><a href>权限管理</a></li>
                            <li><a href>用户高级管理</a></li>
                        </ul>
                    </div>
					<div class="search fn-clear">
						<form action="/backstage/userManage/userBaseInfoManage"  method="post">
							<dl>
								<dt>用户名：</dt>
								<dd><input type="text" class="u-input" name="userName" value="$!{queryConditions.userName}"/></dd>
							</dl>
							<dl>
								<dt>资金账户名：</dt>
								<dd><input type="text" class="u-input" name="accountName" value="$!{queryConditions.accountName}"/></dd>
							</dl>
							<dl>
								<dt>真实姓名：</dt>
								<dd><input type="text" class="u-input" name="realName" value="$!{queryConditions.realName}"/></dd>
							</dl>
							<dl>
								<dt>状态：</dt>
								<dd>
									<div class="jqtransform jqtransform-select3">
										<select name="state" id="">
											<option value="">全部</option>
											<option value="normal"   #if($!{queryConditions.state}=="normal")   selected="selected"  #end >正常</option>
											<option value="inactive" #if($!{queryConditions.state}=="inactive") selected="selected"  #end >未激活</option>
											<option value="freeze"   #if($!{queryConditions.state}=="freeze")   selected="selected"  #end >冻结</option>
											<option value="disable"  #if($!{queryConditions.state}=="disable")  selected="selected"  #end >禁用</option>	
										</select>
									</div>
								</dd>
							</dl>
							<button type="submit" class="s-btn" style="cursor:pointer;">搜索</button>
						</form>
					</div>
					<div class="t-box">
                        <div class="tools">
                            <ul class="toolbar">
                                <li class="click"><span><a href="/backstage/userManage/userBaseInfoManage/addAdmin?parentId=1">
                                    <img src="/resources/back/images/t01.png"></span>创建管理员</a></li>
                            </ul>
                        </div>
                        <table class="tablelist">
                            <thead>
							<tr>
								<th width="150">用户ID</th>
								<th width="150">用户名</th>
								<th width="150">资金账户</th>
								<th width="150">真实姓名</th>
								<th width="150">创建时间</th>
								<th width="130">状态</th>
##								<th>操作</th>
							</tr>
							</thead>
							<tbody>
						#if($page.result.size()==0)
            				<tr class="even">
                				<td colspan=8 align=center>暂时没有用户记录</td>
                			</tr>
						#end
						#foreach($info in $page.result)
							<tr>
								<td>$!{info.userBaseId}</td>
								<td>$!{info.userName}</td>
								<td>$!{info.accountName}</td>
								<td>$!{info.realName}</td>
								<td>$!dateUtil.simpleFormat($!{info.rowAddTime})</td>
								#if($!{info.state}=="freeze")
									<td class="red">冻结</td>
								#elseif($!{info.state}=="inactive")
									<td class="gray">未激活</td>
								#elseif($!{info.state}=="disable")
									<td class="gray">禁用</td>
								#elseif($!{info.state}=="normal")
									<td>正常</td>
								#else
									<td>状态暂无</td>
								#end
##								<td><a href="javascript:;" data="$!{info.userBaseId}" class="queryBalance">余额查询</a>
##                                    #if(!$info.accountId)
##                                    | <a href="/backstage/userManage/userBaseInfoManage/updateUserRole?userBaseId=$!{info.userBaseId}&userId=$!{info.userId}" class="updateUser">角色状态变更</a>
##                                    #end
##									<input type="hidden" value="$!{info.userBaseId}" />
##								</td>
							</tr>
						#end
						</tbody>
						</table>
						<input type="hidden" value="GR" data="userType"/>
						<div class="p-box pages-b fn-clear">
							#parse("/backstage/page/page.vm")
						</div>
					</div>
				</div>
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'personalManage');
		function toPage(totalPage, pageNo){
    		if(totalPage<pageNo){
    			return false;
    		}
			var url = "/backstage/userManage/userBaseInfoManage"
			+"?userName=$!{queryConditions.userName}"
			+"&state=$!{queryConditions.state}"
			+"&accountName=$!{queryConditions.accountName}"
			+"&realName=$!{queryConditions.realName}"
			+"&payNo=$!{order.payNo}"
			+"&pageSize=$!{page.pageSize}&pageNo="+pageNo;
			window.location.href=url;
		}
    </script>
</body>
</html>