.loginContent{
	height:160px;
	background-color:#d3edfb;
	padding-top:10px;
}
.username{
	/* background-color:#fff;*/
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.password{
	/* background-color:#fff; */
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.split{
	height:30px;
}
.footer{
	height:100px;
	background-color:#a0d9f6;
}
.footerDiv{
	height:100%;
	width:65px;
	margin-left:12%;
	float:left;
}
.footerDiv a{
	position:relative;
	top:20px;
}
.buttonDiv{
	min-height:260px;
}