.loginContent{
	height:160px;
	background-color:#d3edfb;
	padding-top:10px;
}
.username{
	/* background-color:#fff;*/
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.password{
	/* background-color:#fff; */
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.split{
	height:30px;
}
.buttonDiv{
	min-height:134px;
}