<!--通用底部开始-->
<div class="alrod b_blue">
    <div class="nav map">
        <ul>
            <li><a href="/help/aboutus"><span class="small_font">关于我们</span></a><a href="/help/guidelines"><span class="small_font">新手指引</span></a><a href="/help/investment"><span class="small_font">投资流程</span></a><a href="/help/security"><span class="small_font">安全保障</span></a><a href="/help/joinus"><span class="small_font">加入我们</span></a><a href="/help/contactus"><span class="small_font">联系我们</span></a><a href="$!{rc.contextPath}/help/qa"><span class="small_font">常见问题</span></a></li>
            <li><span class="small_font">客服热线 （工作时间：工作日 9:00-17:30）</span><span class="small_font">客服邮箱 $!appConstantsUtil.getCustomerServiceEmail()</span>
            	<!--在线客服代码-->
            	<div style="position: fixed;right: 0px;bottom: 70px;"><script language="javascript" src="http://chat32.live800.com/live800/chatClient/staticButton.js?jid=7544075772&companyID=467824&configID=59692&codeType=custom"></script></div>
				<script language="javascript" src="http://chat32.live800.com/live800/chatClient/monitor.js?jid=7544075772&companyID=467824&configID=59633&codeType=custom"></script>
				<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-37256153-17']);
				 _gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				 })();
				</script>
				<!--在线客服代码结束-->
            </li>
            <li class="up"><span class="large_font">联系我们</span><span class="down"><img id="weixin_code" src="/resources/images/new/weixin_code.png" style="display:none;position:absolute;top:-200px;left:-50px;z-index:999" /><img id="weixin" src="/resources/images/new/weixin.png" /></span><a href="http://weibo.com/p/1006065406270456"><span class="down"><img title="关注我们的新浪微博" src="/resources/images/new/weibo.png"></span></a>
			</li>
            <li class="up"><span class="tit_font">$!appConstantsUtil.getCustomerServicePhone()</span></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
	$(function(){
		$("#weixin").on("mouseover",function(){
			$("#weixin_code").css("display","");
		}).on("mouseleave",function(){
			$("#weixin_code").css("display","none");
		});
	});
</script>

<div class="alrod b_gray">
    <div class="nav copy">
        <ul>
            <li>Copyright © 2014-2015 789jinrong.com, All Rights Reserved</li>
            <li class="down">
				<a href="#"><span><img src="/resources/images/new/copy_ico1.png"></span></a>
				<a href="http://t.knet.cn/index_new.jsp"><span><img width="83px" width="30px" src="/resources/images/new/copy_ico2.png"></span></a>
				<a href="http://webscan.360.cn/index/checkwebsite/url/www.789jinrong.com"><span><img width="83px" height="30px" border="0" src="http://img.webscan.360.cn/status/pai/hash/5fb7fec26e3cf9efb1a65a51d4036563"/></a></span>
				<a href="http://pinggu.zx110.org/review_url_789jinrong.com"><span><img width="83px" height="30px" src="http://pinggu.zx110.org/images/bs-small.jpg" /></span></a>
				<a href="#"><span><img src="/resources/images/new/copy_ico5.png"></span></a></li>
            <li class="up">版权所有 $!appConstantsUtil.getProductICP()  市场有风险 投资需谨慎！</li>
        </ul>
    </div>
</div>
<!--通用底部结束-->