<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>新增公告</title>
	<link type="text/css" href="/resources/css/after.css" rel="stylesheet" />
    <link href="/resources/back/css/style.css" rel="stylesheet" type="text/css" />
	<link type="text/css" href="/resources/js/jqzoom_ev-2.3/css/jquery.jqzoom.css" rel="stylesheet" />
</head>
<body>
				<div class="mc">
                    <div class="place">
                        <span>位置：</span>
                        <ul class="placeul">
                            <li><a href>公告管理</a></li>
                            <li><a href>新增公告</a></li>
                        </ul>
                    </div>
					<form action="/backstage/noticeCenter/addNoticeSubmit" method="post" class="ui-form" id="add_pop_form">
						
						<fieldset>
							<legend><h3>新增公告</h3></legend>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>公告标题：</label>
								<input type="text" class="u-input" style="width:300px;" name="title"/>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>公告类型：</label>
								<input type="radio" name="type" class="radio" checked=checked  value="1"/><label for="">普通通知</label>
								<input type="radio" name="type" class="radio"  value="2"/><label for="">新闻通知</label>
								<input type="radio" name="type" class="radio"  value="11"/><label for="">普通新闻</label>
								<input type="radio" name="type" class="radio"  value="10"/><label for="">资讯动态</label>
								<input type="radio" name="type" class="radio"  value="12"/><label for="">活动</label>
								<input type="radio" name="type" class="radio"  value="13"/><label for="">会员</label>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>公告内容：</label>
								<textarea name="content" class="u-area" style="width:720px;height:480px;"></textarea>
							</div> 
							<div class="item">
								<label for="" class="u-label">公告备注：</label>
								<input type="text" class="u-input" style="width:300px;" name="remark"/>
							</div>
						</fieldset>
                        <input type="hidden" name="popId" id="popId" value="0"/>
						<input type="hidden" name="hits" value="0"/>
                        <input type="hidden" name="submit_type" id="submit_type"/>
						<input type="hidden" name="status" value="1"/>
						<div class="item mt10">
                            <a href="javascript:;"  class="u-btn u-btn-blue fn-submit1">保存</a> &nbsp;&nbsp;<a href="javascript:;"  class="u-btn u-btn-blue fn-submit1-preview">保存预览</a><a href="javascript:history.go(-1);" class="u-btn u-btn-gray">取消</a>
						</div>
					</form>
				</div>
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript" src="/resources/js/datepicker/WdatePicker.js"></script>
	<script type="text/javascript" src="/resources/js/xheditor/xheditor-1.2.1.min.js"></script>
	<script type="text/javascript" src="/resources/js/xheditor/xheditor_lang/zh-cn.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'popNotice');
    </script>
</body>
</html>