<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>发布公告服务</title>
	<link type="text/css" href="/resources/css/after.css" rel="stylesheet" />
    <link href="/resources/back/css/style.css" rel="stylesheet" type="text/css" />
	<link type="text/css" href="/resources/js/jqzoom_ev-2.3/css/jquery.jqzoom.css" rel="stylesheet" />
</head>
<body>
				<div class="mc">
                    <div class="place">
                        <span>位置：</span>
                        <ul class="placeul">
                            <li><a href>对外服务管理</a></li>
                            <li><a href>公告管理</a></li>
                        </ul>
                    </div>
					<div class="t-box">
                        <div class="tools">
                            <ul class="toolbar">
                                <li class="click"><span><a href="/backstage/noticeCenter/addNotice">
                                    <img src="/resources/back/images/t01.png"></span>新增公告</a></li>
                            </ul>
                        </div>
                        <table class="tablelist">
                            <thead>
							<tr>
								<th width="80">公告ID</th>
								<th width="200">公告标题</th>
								<th width="100">类型</th>
								<th width="100">备注</th>
								<th width="40">点击量</th>
								<th width="120">创建时间</th>
								<th width="80">状态</th>
								<th width="150">操作</th>
							</tr>
							</thead>
							<tbody>
						#if($page.result.size()==0)
            				<tr class="even">
                				<td colspan=8 align=center>暂时没有记录</td>
                			</tr>
						#end
						#foreach($info in $page.result)
							<tr>
								<td>$!{info.popId}</td>
								<td>$!{info.title}</td>
								<td>#if($!{info.type}==1)普通通知#elseif($!{info.type}==2)新闻通知#elseif($!{info.type}==10)普通新闻#elseif($!{info.type}==11)资讯动态#elseif($!{info.type}==12)活动#elseif($!{info.type}==13)会员#end</td>
								<td>$!{info.remark}</td>
								<td>$!{info.hits}</td>
								<td>$!{dateUtil.simpleFormat($!{info.addTime})}</td>
								<td>
									#if($!{info.status}==1)
										创建完毕
									#elseif($!{info.status}==2)
										已上线
									#elseif($!{info.status}==3)
										已下线
									#end	
								</td>
								<td><a href="/backstage/noticeCenter/updateNotice?popId=$!{info.popId}">修改</a> | <a name="online_link" data="$!{info.popId}" href="javascript:;">上线</a> | <a name="offline_link" data="$!{info.popId}" href="javascript:;">下线</a>
								| <a name="offline_privew" target="_blank" href="/help/announcement/$!{info.popId}">预览</a></td>
							</tr>
							#end
                            </tbody>
						</table>
						<input type="hidden" value="JG" data="userType"/>
						<div class="p-box pages-b fn-clear">
							#parse("/backstage/page/page.vm")
						</div>
					</div>
				</div>
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'popCenter');
		function toPage(totalPage, pageNo){
    		if(totalPage<pageNo){
    			return false;
    		}
			var url = "/backstage/noticeCenter?"
			+"payNo=$!{order.payNo}"
			+"&pageSize=$!{page.pageSize}&pageNo="+pageNo;
			window.location.href=url;
		}
    </script>
</body>
</html>