#parse("/front/index/common/header.vm")
<body>
<div class="h-top">
#parse("/front/index/common/header-menu.vm")
<div class="home-section_bd pt20">
	<div class="blank50"></div>
    <div class="container">
    	<div class="error404">
            <h4><em></em>#if($message)$!{message}#else抱歉，系统打了个盹，导致操作失败了!#end</h4>
            <p class="mt20">你可能需要：<a href="javascript:history.go(-1)">返回上一步</a><span>|</span><a href="/usercenter/home">返回首页</a></p>
        </div>
    </div>
    <div class="blank50"></div>
</div>
#parse("/front/index/common/footer.vm")
</body>
</html>

