<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>融资管理-附件管理</title>
	<link type="text/css" href="/resources/css/after.css" rel="stylesheet" />
    <link href="/resources/back/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
				<div class="mc">
                    <div class="place">
                        <span>位置：</span>
                        <ul class="placeul">
                            <li><a href>融资管理</a></li>
                            <li><a href>附件管理</a></li>
                        </ul>
                    </div>
					<div class="search fn-clear">
						<form action="/backstage/pageQueryLoanDemand?module=OVERALL"  method="post" >
							<dl style="width:290px;">
								<dt>申请号：</dt>
								<dd><input type="text" class="u-input" name="tradeCode" value="$!{queryConditions.tradeCode}"/></dd>
							</dl>
##							<dl style="width:290px;">
##								<dt>担保机构：</dt>
##								<dd>
##									<div class="jqtransform jqtransform-select3">
##										<select name="guaranteeName">
##										<option value="">全部</option>
##										#foreach($guarantee in $!{guarantee})
##										<option value="$!{guarantee.enterpriseName}" #if($!{guarantee.enterpriseName}==$!{queryConditions.guaranteeName}) selected="selected" #end>$!{guarantee.enterpriseName}</option>
##										#end
##										</select>
##									</div>
##								</dd>
##							</dl>
							<dl style="width:290px;">
								<dt>融资人：</dt>
								<dd><input type="text" class="u-input" name="userName" value="$!{queryConditions.userName}"/></dd>
							</dl>
##							<dl style="width:290px;">
##								<dt>保荐人：</dt>
##								<dd>
##									<div class="jqtransform jqtransform-select3">
##										<select name="sponsorName">
##											<option value="">全部</option>
##											#foreach($sponsor in $!{sponsor})
##    										<option value="$!{sponsor.enterpriseName}" #if($!{sponsor.enterpriseName}==$!{queryConditions.sponsorName}) selected="selected" #end >$!{sponsor.enterpriseName}</option>
##    										#end
##										</select>
##									</div>
##								</dd>
##							</dl>
							<dl style="width:290px;">
								<dt>金额区间：</dt>
								<dd><input type="text" class="u-input w60 mask_money" name="minLoanAmount" value="$!{queryConditions.minLoanAmount}"/> - <input type="text" class="u-input w60 mask_money" name="maxLoanAmount" value="$!{queryConditions.maxLoanAmount}"/></dd>
							</dl>
							<dl>
								<dt>时间区间：</dt>
								<dd><input type="text" class="u-input fn-time" name="maiDemandDate"  value="$!{queryConditions.maiDemandDate}"/> - <input type="text" class="u-input fn-time" name="maxDemandDate"  value="$!{queryConditions.maxDemandDate}"/></dd>
                                <button type="submit" class="s-btn" style="margin-left: 5px;">搜索</button>
							</dl>
						</form>
					</div>
					<div class="t-box">
                        <table class="tablelist">
                            <thead>
							<tr>
                                <th width="250">融资名称</th>
                                <th width="140">申请时间</th>
								<th width="120">融资规模</th>
                                <th width="120">融资人</th>
								<th width="110">融资金额(元)</th>
##								<th width="150">承诺机构</th>
##								<th width="100">保荐人</th>
								<th class="text-r1">操作</th>
							</tr>
							</thead>
							<tbody>
							#if($page.result.size()==0)
                				<tr class="even">
                					<td colspan=8 align=center>暂时没有融资管理记录</td>
                				</tr>
							#end
							#foreach($info in $page.result)
							<tr>
                                <td><a href="/backstage/updateLoanDemand?demandId=$!{info.demandId}&info=info">$!{info.loanName}</a></td>
                                <td>$!dateUtil.simpleFormat($!{info.demandDate})</td>
                                <td>$!{info.dimensions}</td>
								<td>$!{info.userName}</td>
								<td>￥$!{moneyUtil.getFormatAmount($!{info.loanAmount})}</td>
##								<td>$!{info.guaranteeName}</td>
##								<td>$!{info.sponsorName}</td>
								<td class="text-r1"><a href="/backstage/updateLoanDemand?demandId=$!{info.demandId}&info=info">详情</a> |
									<a href="/backstage/updataImg?demandId=$!{info.demandId}">修改附件</a></td>
							</tr>
							#end
                            </tbody>
						</table>
						<div class="p-box pages-b fn-clear">
            				#parse("/backstage/page/page.vm")
						</div>
					</div>
				</div>
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript" src="/resources/js/datepicker/WdatePicker.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'pageQueryLoanDemandInfo');
		function toPage(totalPage, pageNo){
    		if(totalPage<pageNo){
    			return false;
    		}
			var url = "/backstage/pageQueryLoanDemand?module=OVERALL"
			+"&tradeCode=$!{queryConditions.tradeCode}"
			+"&userName=$!{queryConditions.userName}"
			+"&guaranteeName=$!{queryConditions.guaranteeName}"
			+"&sponsorName=$!{queryConditions.sponsorName}"
			+"&minLoanAmount=$!{queryConditions.minLoanAmount}"
			+"&maxLoanAmount=$!{queryConditions.maxLoanAmount}"
			+"&maiDemandDate=$!{queryConditions.maiDemandDate}"
			+"&maxDemandDate=$!{queryConditions.maxDemandDate}"
			+"&payNo=$!{order.payNo}"
			+"&pageSize=$!{page.pageSize}&pageNo="+pageNo;
			window.location.href=url;
		}
    </script>
</body>
</html>