#parse("/front/index/common/header.vm")
<style type="text/css">
    <link type="text/css" href="/styles/style.css" rel="stylesheet" />
    /*横条提示/浮动提示*/
    .fn-y-tip{ background:#fff185; border-radius:5px; box-shadow:0 1px 2px #d4d4d4; padding:5px 25px; color:#333; position:relative; zoom:1; }
    .fn-y-tip em{width:8px; height:9px; background:url(../../images/common/layer-ico.gif) no-repeat 0 -63px; position:absolute; left:12px; top:10px; }
    .fn-y-tip h4{ color:#333; font-weight:bold; }
    .fn-y-tip .close{ position:absolute; right:10px; top:10px; width:8px; height:8px; background:url(../../images/common/layer-ico.gif) no-repeat 0 -50px; text-indent:-9999px; }
    .fn-y-tip-h{ width:350px; position:absolute; }
    .fn-y-tip .arrow{ width:11px; height:10px; background:url(../../images/common/corner-ico.png) no-repeat; position:absolute; }
    .fn-y-tip .arrow-lt{ background-position:0 -10px; left:25px; top:-10px; }/*左上*/
    .fn-y-tip .arrow-rt{ background-position:-11px -10px; right:25px; top:-10px; }/*右上*/
    .fn-y-tip .arrow-lb{ background-position:0 0; left:25px; bottom:-10px;}/*单行左下*/
    .fn-y-tip .arrow-rb{ background-position:-11px 0; right:25px; bottom:-10px; }/*单行右下*/
    .n-fn-layer .f-success .success-con{color: #666666; font-size:14px; font-weight:bold; }
    .n-fn-layer .failure-ico { background:url(../../images/common/icon.gif) no-repeat scroll -60px -256px transparent;height: 32px; left: 60px; position: absolute; top: 17px; width: 32px; }
</style>

<body>
	#parse("/front/index/common/header-menu.vm")
<!--内容-->
<div class="top_blank"></div>
<!--用户菜单开始-->
	#parse("/front/index/common/usercenter-menu.vm")

	<div class="home-section_bd pt20">
  <div class="blank20"></div>
  <div class="bd-box container fn-clear">
     <div class="">
      <div class="m-content-box" style="width: 1118px;">
          <div class="my_fud form_nav" style="width: 1118px;">
              <div class="fud_account">账户设置：</div>
          </div>
        <div class="user-info">
			<div style="float: left">
        	<strong>$!{userBaseInfo.realName}</strong>
            <ul>
            	<li><label class="user-title">用户名</label>$!{userBaseInfo.userName}</li>
                <li><label class="user-title">登录密码</label><span class="u-set">已设置</span><a href="javascript:;" class="modify" t="logPassword"><span>修改</span></a></li>
                <li><label class="user-title">注册时间</label><span>$!newDateUtil.simpleFormatYmdhms($!{userBaseInfo.rowAddTime})  </span></li>
            </ul>
            </div>
            <div class="account-info fn-clear" style="margin-left: 270px;">
                <div class="a-info-box mr15 fn-left">
                    <strong>第三方支付账户</strong>
                    <p><label>支付账号</label><span>$!userBaseInfo.accountName</span></p>
                    <p><label>开通状态</label>
                    	#if(!${thirdPartAccountInfo.userStatus})
                    		<span class="a-icon">未开通</span><a href="/anon/toRegYJFAccount/$!{userBaseInfo.userName}" class="g-recharge ml5 mr5" style="width:60px">立即开通</a>
                    	#elseif($!{thirdPartAccountInfo.userStatus.code}=='W')
                    		<span class="a-icon">未激活</span><a href="/anon/activeYjfAccount" class="g-recharge ml5 mr5" style="width:60px">立即激活</a>
                    		</p>
                    	#else<span class="a-icon">已开通</span>
                    		</p>
                    		<p class="mt10"><a class="a-info-btn ml5" href="/anon/forwardyjf/$!{thirdPartAccountInfo.userId}">登录第三方支付账户</a></p>
                    	#end  
                </div>
				#if($!userBaseInfo.type=='GR')
                    <div class="a-info-box mr15 fn-left">
                        <strong>实名认证信息</strong>
						#if($!{userBaseInfo.realNameAuthentication})
							#if("IS" == $!{userBaseInfo.realNameAuthentication})
                                <p class="mt5"><label>真实姓名</label><b>$!{userBaseInfo.realName}</b></p>
                                <p class="mt5"><label>身份证号码</label><span>$!{certNo}</span></p>
                                <p class="mt5"><label>认证状态</label>
									<span class="a-icon">已认证</span>
									<span><a href="/usercenter/forwardYJFRealNameCert" target="_blank">增强</a></span>
								</p>
							#elseif("NO" == $!{userBaseInfo.realNameAuthentication})
                                <p class="mt5"><label>真实姓名</label><b>$!{userBaseInfo.realName}</b></p>
                                <p class="mt5"><label>身份证号码</label><span>$!{certNo}</span></p>
                                <p class="mt5"><label>认证状态</label><span>认证未通过</span><a href="/usercenter/userRealNameInfo">重新认证</a></p>

							#elseif("IN" == $!{userBaseInfo.realNameAuthentication})
                                <p class="mt5"><label>真实姓名</label><b>$!{userBaseInfo.realName}</b></p>
                                <p class="mt5"><label>身份证号码</label><span>$!{certNo}</span></p>
                            <p class="mt5"><label>认证状态</label><span>认证中</span>
							#end
						#else
                            <p class="mt5"><label>真实姓名</label><b>$!{userBaseInfo.realName}</b></p>
                            <p class="mt5"><label>身份证号码</label><span>&nbsp;</span></p>
                        <p class="mt5"><label>认证状态</label><span>未认证<a href="/usercenter/userRealNameInfo">马上认证</a></span>
						#end
                    </div>
				#end
				#if($!userBaseInfo.type=='JG')
                    <div class="a-info-box mr15 fn-left">

                        <strong>实名认证信息</strong>
                        <p class="mt5"><label>公司名称</label><b>$!{userBaseInfo.realName}</b></p>
                        <p class="mt5"><label>公司地址</label><b>$!info.commonlyUsedAddress</b></p>
                        <p class="mt5"><label>法人名称</label><b>$!info.legalRepresentativeName</b></p>

                    </div>
				#end
                <div class="a-info-box fn-left">
                    <strong>联系方式</strong>
                    <p class="mt5"><label>手机号码</label><b>$!{mobile}</b><a href="javascript:;" class="ml15 bound_updateMobile"><span>修改</span></a></p>
                    <p class="mt5"><label>电子邮箱</label><span><b>$!{mail}</b></span></p>
                    <p class="f-tar mt5 mr20"> <a href="javascript:;" class="bound_updateMail"><span>修改邮箱</span></a></p>
                </div>
            </div>
        </div>
        <div class="blank30"></div>
          <div class="form f_tit f_tab">
              <ul class="tit tab_tit">
                  <li name="bing" class="light">绑卡情况</li>
              </ul>
          </div>
          <div id="bing">
              <div class="form form_nav b_blue_o">
                  <ul class="tit_t">
                      <li style="width: 250px;">卡号</li>
                      <li style="width: 250px;">所属省份</li>
                      <li style="width: 250px;">所属市区</li>
                      <li style="width: 250px;">绑定时间</li>
                  </ul>
              </div>
              <div class="form form_nav">
				  #if(!$cardResult.cardInfos)
                      <ul>
                          <li style="height: 40px;"><span style="text-align: center; margin-left: 300px;">暂无绑卡记录</span></li>
                      </ul>
				  #end
				#foreach($card in $cardResult.cardInfos)
                  <ul>
                      <li style="width: 250px; height: 30px;" style="height: 35px;">$!card.cardNo</li>
                      <li style="width: 250px; height: 30px;" style="height: 35px;">
					  	#if("" != $card.provinceName)
						  $card.provinceName
					    #else
						  暂无数据
					    #end
					  </li>
                      <li style="width: 250px; height: 30px;" style="height: 35px;">
						  #if("" != $card.cityName)
							  $card.cityName
						  #else
                              暂无数据
						  #end
					  </li>
                      <li style="width: 250px; height: 30px;" style="height: 35px;">$!card.bindTime</li>
                  </ul>
				#end
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="blank50"></div>
  
  <!--浮层1-->
	<div class="m-layer" id="n-fn-layer" style="width:470px;display:none;">
		<div class="lytt fn-clear">
			<h4 class="fn-left">更改#if($!{operator}=='no') 登录 #else 审核 #end 密码</h4>
			<a href="javascript:;" class="lyclose">x</a>
		</div>
		<div class="f-con f-change">
			<div class="fn-y-tip fn-mb20">
				<em></em>
			</div>
			<form action="/security/updatePassword" method="post" id="password_form">
				<div class="fn-item">
					<label class="fn-label"><span class="required">*</span>旧密码：</label>
					<input type="password" class="fn-text w130" name="password"/>
				</div>
				<div class="fn-item">
					<label class="fn-label"><span class="required">*</span>新密码：</label>
					<input type="password" class="fn-text w130" name="newPassword" id="newPassword"/>
				</div>
				<div class="fn-item">
					<label class="fn-label"><span class="required">*</span>确认新密码：</label>
					<input type="password" class="fn-text w130" name="newPasswordTo" />
				</div>
				<div class="fn-item">
					<input type="hidden"  name="type"/>
					<input type="hidden"  name="operator" data="$!{operator}"/>
					<a href="javascript:;" class="fn-g-btn fn-mr5"><button type="submit">确定</button></a>
				</div>
			</form>
		</div>
	</div>
	<!-- 浮层1_1 -->
<div class="m-layer" id="result_ok" style="width:350px;display:none;">
	<div class="f-title fn-clear">
	<h4 class="fn-left">更改 #if($!{operator}=='no') 登录 #else 审核 #end 密码</h4>
		<a href="javascript:;" class="fn-right cancel" style="float: right; margin-right: 10px;">x</a>
	</div>
    <div class="f-con f-success" style="height:80px;">
        <em class="success-ico"></em>
        <p class="success-con" style="text-align:center;margin-top:40px;">您的密码修改成功!</p></div>
    <div class="f-btn" style="text-align:center;">
        <a class="fn-g-btn cancel" href onclick="closeModifyDialog();" style="margin-bottom:10px;"><span>确定</span></a>
    </div>
</div>
    <!--浮层1-2-->
    <div class="m-layer" id="result_no" style="width:350px;display:none;">
        <div class="f-title fn-clear">
            <h4 class="fn-left">更改密码</h4>
            <a href="javascript:;" class="lyclose" style="float: right; margin-right: 10px;">x</a>
        </div>
        <div class="f-con f-success"style="height:80px;">
            <em class="failure-ico"></em>
            <p class="success-con" style="text-align:center;margin-top:40px;">您的
				#if($!{operator}=='no')
					登录
				#else
                    审核
				#end
                密码修改失败！</p>
            <p class="success-con" style="text-align:center;">旧密码错误</p>
        </div>
        <div class="f-btn" style="text-align:center;">
            <a class="fn-g-btn lyclose" href="javascript:closeModifyDialog();" style="margin-bottom:10px; width: 80px;"><span style="margin-top: 5px; margin-left: 20px;">确定</span></a>
        </div>
    </div>

    <!--浮层2.1-->
    <div class="m-layer" id="bound_updateMobile" style="width:520px;display:none;">
        <div class="lytt fn-clear">
            <h4 class="fn-left">修改绑定手机</h4>
            <a href="javascript:;" class="lyclose">x</a>
        </div>
        <div class="f-con f-change">
            <div class="fn-y-tip fn-mb20">
                <em></em>
            </div>
            <form action="/security/updateBoundMobile" method="post" id="updateBoundMobile_form">
                <div class="fn-item">
                    <label class="fn-label"><span class="required">*</span>手机号码：</label>
                    <input type="text"  disabled="disabled" class="fn-text w130"  name="mobile4" value="$!{mobile}"/>
                    <input id="mobile1" type="hidden"   disabled="disabled" class="fn-text w130"  name="mobile" value="$!{userBaseInfo.mobile}"/>
                    <a href="javascript:;" id="getCode1" class="fn-h-btn Y-countdown"><span class="timedown">获取验证码</span></a>
                    <input id="business1" type="hidden" name="business" value="cellphone"/>
                </div>
                <div class="fn-item">
                    <label class="fn-label"><span class="required">*</span>新手机号码：</label>
                    <input type="text"  class="fn-text w130" name="newMobile" maxlength="11"/>
                </div>
                <div class="fn-item">
                    <label class="fn-label"><span class="required">*</span>验证码：</label>
                    <input id="code1" type="text" class="fn-text w130" name="code" />
                </div>
                <div class="fn-item">
                    <a href="javascript:;" class="fn-g-btn fn-mr5"><button type="submit">确定</button></a>
                </div>
            </form>
        </div>
    </div>

    <!--浮层2.2-->
    <div class="m-layer" id="bound_mobile" style="width:470px;display:none;">
        <div class="lytt fn-clear">
            <h4 class="fn-left">绑定手机</h4>
            <a href="javascript:;" class="lyclose">x</a>
        </div>
        <div class="f-con f-change">
            <div class="fn-y-tip fn-mb20">
                <em></em>
            </div>
            <form action="/security/boundMobile" method="post" id="boundMobile_form">
                <div class="fn-item">
                    <label class="fn-label"><span class="required">*</span>手机号码：</label>
                    <input id="mobile2" type="text" class="fn-text w130" maxlength="11" name="mobile" />
                    <a href="javascript:;" id="getCode2" class="fn-h-btn Y-countdown"><span class="timedown">获取验证码</span></a>
                    <input id="business2" type="hidden" name="business" value="addcellphone"/>
                </div>
                <div class="fn-item">
                    <label class="fn-label"><span class="required">*</span>验证码：</label>
                    <input id="code2" type="text" class="fn-text w50" name="code"/>
                </div>
                <div class="fn-item">
                    <a href="javascript:;" class="fn-g-btn fn-mr5"><button type="submit">确定</button></a>
                </div>
            </form>
        </div>
    </div>
	<!--浮层1-2-->
	<div class="m-layer" id="result_no" style="width:350px;display:none;">
		<div class="f-title fn-clear">
			<h4 class="fn-left">更改密码</h4>
			<a href="javascript:;" class="lyclose">x</a>
		</div>
		<div class="f-con f-success"style="height:80px;">
			<em class="failure-ico"></em>
			<p class="success-con" style="text-align:center;margin-top:40px;">您的登录
				#if($!{operator}=='no')
				#else
					审核
				#end
				密码修改失败！</p>
			<p class="success-con" style="text-align:center;">旧密码错误</p>
		</div>
		<div class="f-btn" style="text-align:center;">
			<a class="fn-g-btn lyclose" href="javascript:;" style="margin-bottom:10px;"><span>确定</span></a>
		</div>
	</div>

	<!--浮层2_1-->
	<div class="m-layer" id="boundMobile_ok" style="width:350px;display:none;">
		<div class="f-title fn-mb15 fn-clear">
			<h4 class="fn-left">绑定手机提示</h4>
			<a href="javascript:;" class="fn-right lyclose">x</a>
		</div>
		<div class="f-con">
			<p class="text-c ft-666"><img src="$!{rc.contextPath}/resources/images/common/success-ico.jpg" class="vm m5" />你的手机号绑定成功！</p>
			<div class="f-btn mt20">
				<a href="javascript:;" class="fn-h-btn  lyclose"><span>确认</span></a>
			</div>
		</div>
	</div>

	<!--浮层2_2-->
	<div class="m-layer" id="boundMobile_ok" style="width:350px;display:none;">
		<div class="f-title fn-mb15 fn-clear">
			<h4 class="fn-left">绑定手机提示</h4>
			<a href="javascript:;" class="fn-right  lyclose">x</a>
		</div>
		<div class="f-con">
			<p class="text-c ft-666"><img src="$!{rc.contextPath}/resources/images/common/success-ico.jpg" alt="" class="vm m5" />你的手机号绑定失败！</p>
			<div class="f-btn mt20">
				<a href="javascript:;" class="fn-h-btn  lyclose"><span>确认</span></a>
			</div>
		</div>
	</div>

	<!--修改邮箱-->
	<div class="m-layer" id="bound_updateMail" style="width:500px;display:none;">
        <div class="lytt fn-clear">
			<h4 class="fn-left">邮箱修改</h4>
			<a href="javascript:;" class="lyclose">x</a>
		</div>
		<div class="f-con f-change">
			<div class="fn-y-tip fn-mb20">
				<em></em>
			</div>
			<form action="/security/boundUpdateMail" method="post" id="bound_updateMail_form">
				<div class="fn-item">
					<label class="fn-label"><span class="required">*</span>手机号码：</label>
					<input type="text"  disabled="disabled" class="fn-text w130"  name="mobile4" value="$!{mobile}"/>
					<input id="mobile5" type="hidden"   disabled="disabled" class="fn-text w130"  name="mobile5" value="$!{userBaseInfo.mobile}"/>
					<a href="javascript:;" id="getCode3" class="fn-h-btn Y-countdown"><span class="timedown">获取验证码</span></a>
					<input id="business3" type="hidden" name="business" value="personal"/>
					<input id="userName" type="hidden" name="userName" value="$!{userBaseInfo.userName}"/>
				</div>
				<div class="fn-item">
					<label class="fn-label"><span class="required">*</span>验证码：</label>
					<input id="mailCode" type="text" class="fn-text w130" name="mailCode"/>
				</div>
				<div class="fn-item">
					<label class="fn-label"><span class="required">*</span>新邮箱：</label>
					<input type="text"  class="fn-text w130" name="newMail" />
				</div>
				<div class="fn-item">
					<a href="javascript:;" class="fn-g-btn fn-mr5"><button type="submit">确定</button></a>
				</div>
			</form>
		</div>
	</div>
  </div>
#parse("/front/index/common/footer.vm")
<script type="text/javascript">
    	var $_GLOBAL = {};
        addLiClass("header_home");
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'userHome');
    	seajs.use($_GLOBAL.mode + 'securityCenter');

    	function refreshTime(){
        	var myDate = new Date();
			if(!document.getElementById("curTime")) {
			    clearInterval(int);
			}
    		document.getElementById("curTime").innerHTML= "当前时间："+myDate.toLocaleString();   //获取日期与时间
    	}

		function closeModifyDialog() {
			$("#result_ok").css("display","none");
			return false;
		}
</script>
</body>
</html>