#parse("/front/index/common/header.vm")
<body>
#parse("/front/index/common/header-menu.vm")
<div class="top_blank"></div>
<div class="blank"></div>
<div class="new nav" style="height: 600px;">
    #parse("/front/help/helpLeftMenu.vm")
    <ul class="new_list">
    	<li class="new_list_tit large_font"><span class="blue">投资流程</span></li>
    	<li class="new_list_text">
            <p>
                <img src="/resources/images/new/tzliucheng.jpg" />
            </p>
            <br/>
        </li>
    </ul>
</div>
<div style="clear:both;"></div>
<!--通用新闻公告内容结束-->
#parse("/front/index/common/footer.vm")
</body>
</html>
